.accommodation-tile:hover .slds-card {
    border: 3px solid #ff7500;
    background-color: #f5dbc2;
}

.accommodation-tile .slds-card {
    background-color: #fbf6f0;
    transition: border 0.1s, background-color 0.1s;
}

.accommodation-tile .slds-card__header {
    padding: .5rem 1rem;
    border-bottom: 2px solid #d2955d;
    border-radius: 4px 4px 0 0;
    background-color: #ffc500;
}

.accommodation-search .slds-input,
.accommodation-map .slds-card,
.accommodation-list .slds-card,
.accommodation-tile .slds-card {
    border: 1px solid #ffa500;
}

.accommodation-list .scrollContainer {
    height: 700px;
    overflow: auto;
    position: relative;
}

div::-webkit-scrollbar {
    width: 15px;
}

/* Track */
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(231, 140, 20);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background: #ffa500;
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff7500;
}